INVERTER_ENDPOINT=your-inverter-ip-address
INFLUXDB_V2_TOKEN=your-token
INFLUXDB_V2_URL=http://your-influx-db-host:port
INFLUXDB_V2_ORG=your-influxdb-org
INFLUXDB_V2_SSL_CA_CERT=false
INFLUXDB_BUCKET=fronius
COLLECT_COMMON_INVERTER_DATA=true
COLLECT_3P_INVERTER_DATA=false
COLLECT_MINMAX_INVERTER_DATA=false
DATA_COLLECTION_INTERVAL=30
IGNORE_SUN_DOWN=false
LOCATION_CITY=Melbourne
LOCATION_REGION=Victoria
LOCATION_TIMEZONE="Australia/Melbourne"
LOCATION_LAT=-37.840935
LOCATION_LNG=144.946457
